[2020-05-04 07:09] tomslutsky opened #2 "Support for direction aware style props"
I am missing the option to use direction aware style props such as `marginStart` or `borderEndWidth`.
I would be happy to PR it but not sure how your dev workflow is going.

[2020-05-16 11:27] mattapperson opened #3 "Kudos!"
I just found this project and kudos!

I really love the idea of bringing a utility first system to react-native!

[2020-05-17 05:10] jsartisan commented on #3
Thanks :)

[2020-05-17 05:10] #3 closed

[2020-05-19 07:54] sweeetland opened #4 "React Native Web support"
Awesome library... does this work with [react-native-web](https://github.com/necolas/react-native-web)?

[2020-05-20 05:20] jsartisan commented on #4
Thanks for the kind words :)

Most things should work with react-native-web. I checked on Expo. It was working pretty well on the browser.

[2020-05-30 20:57] koolamusic commented on #2
@jsartisan are there any areas you need assistance with. Maybe documentation, enhancements, If there is a project/vision board, I think some of us can help.

Keep up with the good work.

[2020-06-08 18:34] jsartisan commented on #2
@tomslutsky Added marginStart and borderEndWith ( version 1.0.39 ) I will be updating docs as well in a few days.

[2020-06-08 18:35] jsartisan commented on #2
@koolamusic Thanks :) I would love to get help on this project. 👍

[2020-06-08 18:35] jsartisan commented on #2
@koolamusic Let's chat on discord channel if possible.

[2020-06-08 18:35] #2 closed

[2020-06-10 02:07] nandorojo opened #6 "Support breakpoints"
A great part of `chakra-ui` and `theme-ui` is that you can use an array of design tokens to give different styles for [different breakpoints](https://chakra-ui.com/responsive-styles).

[code]

If this library supported this kind of styling, it would be the first of its kind for React Native. It would mean using the @expo + next.js integration (or any React Native Web project) could have universal,

[2020-06-10 04:35] jsartisan commented on #6
@nandorojo Great Suggestion. I'll check on this today.

[2020-06-11 02:40] nandorojo commented on #6
Also, it would be great if each token could also be `null`, meaning the style would be ignored for that breakpoint (as is the behavior on `theme-ui`)

[2020-06-11 03:01] nandorojo opened #7 "Support sx/css prop"
Rather than have just direct style props for components, `theme-ui` has an `sx` prop object prop. I find it to be a really nice design pattern for styles. However, it is a bit more challenging to memoize.

I understand if this isn't the philosophy of this library, and maybe it isn't something you're interested in implementing. But I find it to be a really nice way to decouple styles from other pro

[2020-07-11 07:35] jsartisan commented on #6
@nandorojo Can you join us on discord channel? Would love to have you there for your great suggestions.

[2020-07-13 04:58] jsartisan commented on #6
@nandorojo Started working on the feature on this weekend. Still in progress though but I am loving it while using it

https://github.com/jsartisan/react-native-magnus/tree/feature/responsive-props

[2020-07-18 09:00] solarsoft0 opened #10 "Update Button to use the new core component pressable"
Pressable is a Core Component wrapper that can detect various stages of press interactions on any of it's defined, children.
will be glad to send in PR for this, let me know what you think :)

[2020-07-18 20:15] chamatt opened #11 "How do I change the font"
Hey, just wanted to start of thanking you for this awesome library!

The problem I'm facing right now is that I can't find how to change the default font. Is there a recommended way of doing that?

And also, is there a way to specify another font-family as the "bold"? For example, when using expo-google-fonts, I import RobotoSlab_400 and use that as the "normal" weight, and RobotoSlab_700 as the "

[2020-07-19 05:02] jsartisan commented on #10
@solarsoft0 I would love to accept PRs :D

[2020-07-19 05:10] jsartisan commented on #11
@chamatt Thanks for the kind words.

- You will need to import your fonts according to certain format react native requires. You can follow this guide for that - https://medium.com/@mehrankhandev/ultimate-guide-to-use-custom-fonts-in-react-native-77fcdf859cf4

After that, You can simply use fontFamily props to specify the font like *fontFamily: SFUIDisplay-Bold* on <Text> component.
If you are loo

[2020-07-20 20:55] chamatt commented on #11
Thank you for the response! I will try that asap!

hehe

[2020-07-20 20:55] #11 closed

[2020-07-21 16:42] solarsoft0 commented on #10
Ok sure, will do just that :)

[2020-07-24 17:29] solarsoft0 commented on #10
@jsartisan I have worked on this like discussed, please take a look https://github.com/jsartisan/react-native-magnus/pull/13

[2020-07-30 14:39] solarsoft0 commented on #6
@jsartisan is there any update on this :)

[2020-07-30 16:56] juanlatorre opened #14 "Wrong Types using TypeScript"
Hey, I found an error in a lot of types as "shadow" that requires a number, but on docs it require a String and minW also asks for a number, when it should be asking for a string.

It works but I have to put // @ts-expect-error on every prop with wrong type declaration.

![code1](https://user-images.githubusercontent.com/4494526/88951503-14750f80-d264-11ea-87cc-dfe29c0832c4.png)

[2020-07-31 04:46] jsartisan commented on #14
@juanlatorre Really sorry for this. I'll try to fix it this weekend.

[2020-08-01 20:00] wethil opened #15 "Issues on Documentation page"
[The documents page for Divs](https://magnus-ui.com/docs/div/) acting weird at the moment
<img width="1645" alt="Screen Shot 2020-08-01 at 23 00 19" src="https://user-images.githubusercontent.com/6503960/89109550-d554e300-d44a-11ea-9fb3-80e1d650e2a6.png">

Can you check it?

[2020-08-02 14:26] jsartisan commented on #15
@wethil Fixed. Thanks a lot for pointing it out. Had an extra `</div>` 😅

[2020-08-02 15:07] jsartisan commented on #14
@juanlatorre released a new version ( 1.0.41 ) Can you verify if it is fixed?

[2020-08-02 15:08] jsartisan commented on #10
@solarsoft0 Merged your pull request :D Thanks a lot for it. Are you on discord or twitter? I want to give you a shoutout?

Can you verify your pull request in 1.0.41 version?

[2020-08-02 17:23] solarsoft0 commented on #10
I'm on twitter @solarsoft0, thanks a lot, will verify the update

[2020-08-03 04:04] juanlatorre commented on #14
It is completely fixed, thank you very much !

[2020-08-03 04:04] #14 closed

[2020-08-04 06:18] jsartisan commented on #15
@wethil Can you verify it on your end and close the issue?

[2020-08-04 15:14] #15 closed

[2020-08-06 12:19] yareyaredesuyo opened #17 "got Button related error when bump update from 1.0.40 to 1.0.41"
I got following error when bump updated library.

![スクリーンショット 2020-08-06 21 13 22](https://user-images.githubusercontent.com/31843888/89530612-c47ce680-d829-11ea-97e1-f1c3fc0075e7.png)

Tried this example source code.

https://snack.expo.io/@pawankumar2901/dribble-login-page

Maybe related to this change? https://github.com/jsartisan/react-native-magnus/commit/1df30b716dab3eb3cbfb47406a512d882c360

[2020-08-06 12:35] yareyaredesuyo opened #18 "Alius Box as Div"
For standard styled system, there is alot of case use Box as main responsible component.

So, I think it maybe a good idea to alias Box as Div which following styled system convention.

[2020-08-06 12:37] jsartisan commented on #17
Really sorry about this. I will try to get this fixed today.

[2020-08-06 14:12] jsartisan commented on #17
@yareyaredesuyo Can you follow the answer from here?

https://stackoverflow.com/questions/60880105/cocoapods-could-not-find-compatible-versions-for-pod-reactcommon-jscallinvoker. This step will be required for our version 1.0.41 as it uses react native 0.63

[2020-08-06 14:14] jsartisan commented on #18
@yareyaredesuyo Actually initially I was also planning to use Box, but since most react native developers come from the web background, they are familiar with the word 'div'. If you really want a Box component, I can export an alias of Div as Box. works?

[2020-08-06 14:49] yareyaredesuyo commented on #18
@jsartisan

Yeah, those people who are familiar with `styled system` maybe like using Box, so aliasing is hit the target.

[2020-08-06 14:49] yareyaredesuyo commented on #17
@jsartisan

Sorry, I'm tested it in expo38.

[2020-08-27 11:59] GaspardC commented on #17
@yamatsum did you find a solution ? I'm also using expo38

[2020-08-27 12:04] jsartisan commented on #17
Actually we updated our button component from Touchable to Pressable which came just now in new version of react-native. I can revert it if it is creating too much issue for everyone :/

[2020-08-27 12:22] GaspardC commented on #17
@jsartisan thanks it's fine for me with the 1.0.40, it should be fixed when expo 39 rolls out

[2020-08-29 01:18] horlaarsco opened #20 "Select Footer Button always Open"
Setting multiple to false still renders the footer button, I had to fix this way.. Can i go on and send a PR?

And also i cant seem to set an height on the select container..

![image](https://user-images.githubusercontent.com/10059733/91625279-e9cec180-e99d-11ea-83f9-859ac0151c99.png)

Also render title too react node doesnt work with it, gives error of object is not valid as a react child..

Wor

[2020-08-29 04:24] jsartisan commented on #20
@horlaarsco Are you working on this? I can fix this real quick if you want?

[2020-08-29 15:51] horlaarsco commented on #20
Sorry was a bit busy, Here is the link to the PR
https://github.com/jsartisan/react-native-magnus/pull/22

Thanks for magnus :)

[2020-08-30 06:08] #17 closed

[2020-08-30 06:08] #10 closed

[2020-08-30 06:20] jsartisan commented on #18
@yareyaredesuyo This is done in version 1.0.42. Thanks for the suggestion :D

[2020-08-30 06:21] #18 closed

[2020-08-30 06:22] jsartisan commented on #20
@horlaarsco Thanks for the pull request. Just released the version 1.0.42 with your pull request merged :)

Thanks a lot again.

[2020-08-30 06:22] #20 closed

[2020-09-01 06:33] globophobe opened #23 "react-native-web-modal"
Great library! It would be nice to support something like react-native-web-modal for use with react-native-web.

[2020-09-01 10:25] jsartisan commented on #23
Thanks a lot for the kind words :) I will definitely look into it.

[2020-09-29 05:33] jsartisan commented on #17
@GaspardC You should be able to use the latest version of magnus as expo rolled out support for pressable component.

[2020-09-29 08:27] GaspardC commented on #17
@jsartisan yes it is and working great 🥳

[2020-11-02 18:05] juanlatorre opened #34 "Can click on FAB hidden options."
Hi! Found a nasty bug today, it seems that hidden options inside a FAB can be pressed at any time.

![GIF](https://user-images.githubusercontent.com/4494526/97902762-c9641000-1d1c-11eb-9e5e-1c48c31dde7d.gif)

[2020-11-15 16:01] jsartisan commented on #34
@juanlatorre This is fixed in the new version. Can you close after verifying at your end?

[2020-11-17 10:16] #34 closed

[2020-11-22 10:25] juanlatorre commented on #34
Verified, it's fixed, sorry for being late

[2020-11-30 10:07] jsartisan commented on #23
@globophobe Thinking of implementing this - https://www.npmjs.com/package/modal-react-native-web

[2020-12-03 10:54] rifaldhiaw opened #36 "Tooltip does not closed correctly"
Thank you for the awesome library.
I am using this lib, for my personal projects (web and mobile.)

I want to use the tooltip component for my web layout.
But there is a weird behavior that happens when I try to close the tooltip (click anywhere).

- Click once -> toolip showing back
- Double click -> tooltip hidden

It seems there is a state race/something like that. Thank you...

![captured](htt

[2020-12-06 12:51] jsartisan commented on #23
@globophobe I just saw that react-native-modal works on the web with the latest version. I will be updating the example app for reference :D

[2020-12-06 12:53] jsartisan commented on #36
Thanks a lot for the reporting. I will be releasing a new version tonight. Hoping to fix this one also in that :D

[2020-12-06 13:00] globophobe commented on #23
Awesome! Thanks again for the great library

[2020-12-06 16:21] jsartisan commented on #36
@rifaldhiaw Fixed in v1.0.54. Can you verify on your end?

[2020-12-06 16:27] jsartisan commented on #23
Closing the issue. You can the example app for reference :)

[2020-12-06 16:27] #23 closed

[2020-12-07 02:48] rifaldhiaw commented on #36
Awesome, it works well now...
Thank you so much \(^ヮ^)/

[2020-12-07 03:48] rifaldhiaw commented on #36
Uhh umm.. just 1 minor thing, it seems you forgot to update the types declaration path in `package.json` to
`"types": "lib/typescript/src/index.d.ts",`. (nested in src folder).

Thanks :D

[2020-12-07 04:42] jsartisan commented on #36
Thanks for the PR :)

Updated it in v1.0.55

[2020-12-07 06:02] #36 closed

[2020-12-07 07:10] jsartisan commented on #4
@sweeetland I have updated the example that works on the web too :D
Closing the issue.

[2020-12-07 07:10] #4 closed

[2020-12-09 23:02] erickriva opened #38 "Div BorderRightColor doesn't work"
I'm using "borderRight" properties on **Div** component and **borderRightColor** don't work. But borderLeftColor do.

This is my code:
![a](https://user-images.githubusercontent.com/2746558/101699374-50727980-3a7b-11eb-9524-154618c729c9.jpg)

and the result:
![test](https://user-images.githubusercontent.com/2746558/101698992-ba3e5380-3a7a-11eb-9f22-aa44c4d519ce.png)

[2020-12-11 04:57] jsartisan commented on #38
Thanks for reporting the issue. I have merged your PR but let's close the issue when we will be releasing the new version.

[2020-12-13 11:59] jsartisan commented on #38
@erickriva The PR is merged in v1.0.56

[2020-12-13 16:40] erickriva opened #44 "TextInput textAlign prop doesn't exists on Input"
Why TextInput textAlign prop does not exists on Input?
`textAlign="center"` works well but it is not included in Input types.

![image](https://user-images.githubusercontent.com/2746558/102017673-9b84d900-3d68-11eb-9e51-959f4c0591d8.png)

[2020-12-13 19:58] erickriva commented on #38
Great! I've tried it and was fixed!

[2020-12-13 19:58] #38 closed

[2020-12-13 21:15] erickriva opened #45 "[Docs] Checkbox.Group on Radio Component page"
![image](https://user-images.githubusercontent.com/2746558/102024168-9dfb2900-3d90-11eb-8a67-0dec5a41cc5a.png)

[2020-12-14 00:00] erickriva opened #46 "[Suggestion] Use Github Actions to publish Example App to Expo"
Have you heard about this extension for Github?
You can use it and publish Example App to Expo, then put the link on README for get easy to people to give a look on what this project can do.

https://github.com/expo/expo-github-action#publish-on-any-push-to-master

[2020-12-14 00:35] erickriva commented on #44
I have discovered that this prop doesn't exists on React Native types, but exists on React Native docs.
I've tried, but i don't know how to pull request on DefinitelyTyped. It's such a big project to download it fully.

[2020-12-14 05:09] jsartisan commented on #46
Great suggestion. I'll try to add it today.

[2020-12-14 05:11] jsartisan commented on #44
Let me check if text alignment is supported in the inputs.

[2020-12-14 05:17] jsartisan commented on #44
Seems to be working :D I have added the support in the local rep on my machine. Let's close the issue once we release new version.

[2020-12-14 05:26] jsartisan opened #49 "[Enhancement] RTL Support"
RTL support is currently missing from the library. It's a must-have feature for wider adoption.

[2020-12-14 15:45] jsartisan commented on #46
@erickriva Done. 👍
https://expo.io/@pawankumar2901/projects/react-native-magnus-example

[2020-12-14 15:45] #46 closed

[2020-12-14 16:02] #45 closed

[2020-12-14 23:03] smlarkin commented on #6
@jsartisan Is this feature likely to be implemented soon?  I am considering building a new app on with Mingus (because it is awesome) but I will need React Native Web support -- as in breakpoints for the entire range of devices.  Either way, cheers!

[2020-12-15 04:50] jsartisan commented on #6
@smlarkin Yes. This is next on my task list. :D

[2020-12-15 05:01] jsartisan commented on #6
@smlarkin But I did start on this feature in the branch `feature/responsive-props`

[2020-12-15 05:06] #6 closed

[2020-12-15 09:58] rifaldhiaw opened #51 "[Bug] global.__expo.Icon Deprecated Warning Expo SDK 40"
## Description
There is a warning about the `global.__expo` deprecated in Expo SDK 40.
The warning showing due to the usage of `global.__expo.Icon` in `icon.service.tsx`.

Thank you ...

### Steps to reproduce the behavior:
- Init react native project using SDK 40
- add react-native-magnus
- use Icon component

<img width="1036" alt="Screen Shot 2020-12-15 at 16 36 56" src="https://user-images.git

[2020-12-15 12:52] jsartisan commented on #51
Thanks for reporting it :) I'll fix it before releasing the new version.

[2020-12-16 15:24] erickriva commented on #44
Follow 'textAlign' PR status here:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50146

[2020-12-17 17:32] erickriva opened #55 "[Bug] Header height"
## Description

Header can't keep same height with and without prefix/suffix without set a fixed height. This can be a problem if you want to hide prefix/suffix and wants to Header to mantain it's height.

### Steps to reproduce the behaviour:

Use Header component with and without prefix/suffix.

![whatsapp-image-2020-12-17-at-1](https://user-images.githubusercontent.com/2746558/102521829-b079a90

[2020-12-17 17:41] erickriva opened #56 "[Bug] Searchable Select"
## Description

Searchable Select can resolve custom objects, but can't resolve simple objects.

### Steps to reproduce the behaviour:

Use Select component - passing string array as data - and 'searchableProps' prop as `[""]`

![Webp net-resizeimage](https://user-images.githubusercontent.com/2746558/102523018-495cf400-4097-11eb-9f94-3cb83da6411e.jpg)
![Webp net-resizeimage (1)](https://user-image

[2020-12-19 13:15] jsartisan commented on #55
@erickriva This one is fixed on my end. I used minH in defaultProps with value 70.

[2020-12-19 13:19] erickriva commented on #55
I was trying to do it in another way, but i think this is the best choice.

[2020-12-21 04:41] jsartisan commented on #51
@rifaldhiaw Fixed in v1.0.57

[2020-12-21 12:46] erickriva commented on #55
Resolved on v1.0.57

[2020-12-21 12:46] #55 closed

[2020-12-21 12:46] erickriva commented on #44
Resolved on v1.0.57

[2020-12-21 12:46] #44 closed

[2020-12-21 12:48] erickriva commented on #56
Resolved on v1.0.57

[2020-12-21 12:48] #56 closed

[2020-12-22 05:26] #51 closed

[2020-12-23 06:42] jsartisan opened #59 "[Feature] Responsive Props"
Since magnus works on web too, adding responsive props to handle media query both on web and mobile devices is must-have feature.

[2021-01-09 11:10] kuasha420 commented on #59
How would the High Level API be? Like Chakra UI's array syntax or something else?

[2021-01-11 09:00] jsartisan commented on #59
We are trying to make the API similar to Chakra-UI.

[2021-01-22 11:53] jonasgroendahl opened #67 "[Bug] font weight doesnt apply, no custom fonts"
## Description

I tried to add font-weight to a text element and it didn't work. I'm not using any custom fonts.

### Steps to reproduce the behaviour:

import { Text } from 'react-native-magnus';

[code]

### Important Details

- Version:   "react-native-magnus": "^1.0.59",   "react-native": "0.63.4",
- OS: Mac
- Browser: iOS simulator

[2021-01-24 15:42] jsartisan commented on #67
@jonasgroendahl Fixed in v1.0.60

[2021-01-24 15:42] #67 closed

[2021-02-05 10:05] JessedeJonge opened #70 "[Bug] Example App and Components Usage Example Not Working"
## Description
- Example App mentioned in [README](https://github.com/jsartisan/react-native-magnus#examples) requires a login and then returns an 403 when opening it in Expo GO.

- Components Usage Example mentioned in [README](https://github.com/jsartisan/react-native-magnus#examples-1) fails due to undefined error.

### Steps to reproduce the behaviour:
Open both examples in Expo Go.
![image](h

[2021-02-05 10:08] JessedeJonge opened #71 "[Bug] Small typo in Example 3 Expo Snack"
## Description
Example 3 from the [example page](https://magnus-ui.com/docs/examples/) has 'explor' instead of 'explore' as a heading.

[2021-02-05 10:15] JessedeJonge commented on #70
Might also consider just linking to the website's example page, and leave the examples out of the README.md

[2021-02-05 10:20] jsartisan commented on #70
@jsartisan Fixed the snack on expo. Thanks for pointing it out.

Sure. I'll do that.

[2021-02-05 10:21] jsartisan commented on #71
@JessedeJonge Actually that screenshot was taken from the one plus android phone. There is a known react native where Oneplus native font creates that truncated text issue.

[2021-02-05 14:20] iamhrayr opened #73 "provide a way to configure default props of the components"
## Summary

It would be really nice if we can somehow configure the default props of components.

## Motivation
In most cases, developers will not use the out of box styling of the components. Instead, they will pass some props to get the desirable UI result. Providing a default props possibility will really save developers from a lot of repetition.

[2021-02-05 15:51] erickriva commented on #73
Hello @iamhrayr !
Actually, it can be done through theme.
But it's recent and docs wasn't updated yet.

In the actual version (1.0.60), you can set it like this:

`const theme = {
     components: {
          Button: {
              bg: "red500",
              color: "red900",
              textTransform: "uppercase"
          },
         Text: {
             color: "black"
         }
     }
}`
an

[2021-02-05 17:27] iamhrayr commented on #73
that's wonderful news! Variants are even more inspiring 👍

[2021-02-07 13:32] erickriva commented on #73
Hello @iamhrayr!
Version 1.0.61 launched today with 'variants' support.
Please, feel free to give us your feedback.

[2021-02-07 15:27] iamhrayr commented on #73
@erickriva looks really good, thanks.
I think it's time to close this issue.

[2021-02-07 15:27] #73 closed

[2021-02-07 19:46] gustperz opened #74 "[Docs] validate-color missing in peer dependencies information in documentation"
## Documentation Link

https://magnus-ui.com/docs/getting-started/

## Describe the problem

In documentation
![image](https://user-images.githubusercontent.com/9136712/107157538-943a1000-6952-11eb-9253-6c7ff1373697.png)

but in your [package,json](https://github.com/jsartisan/react-native-magnus/blob/master/package.json#L73)

[code]

[2021-02-07 20:15] erickriva commented on #74
Hello @gustperz!
Maybe it's a browser cache problem, this info already is in the docs.

![image](https://user-images.githubusercontent.com/2746558/107158218-6dd29f80-6967-11eb-94da-29d27a7f346f.png)

We're looking how to improve dependencies, so maybe some of this packages will be automatically installed on next versions.

[2021-02-07 20:54] gustperz commented on #74
You're right, now if i see it correctly

[2021-02-07 20:54] #74 closed

[2021-02-08 14:38] JessedeJonge opened #75 "[Feature] Global Snackbar Component"
A global component that can be triggered with either React Hooks or with a ref. Just like: https://github.com/arnnis/react-native-fast-toast#global-example

Example Snack: https://snack.expo.io/@jesse_dejonge/1a3b99 (this however uses the same countdown values in multiple instances)

[2021-02-08 17:42] erickriva commented on #75
Hello @JessedeJonge!
This is a very interesting idea.
Do you think it needs to allow have only 1 or more snackbars at same time globally?

[2021-02-08 20:10] JessedeJonge commented on #75
@erickriva One snackbar would be a good start. The example I gave stacks the toasts by default, which is also nice.

[2021-02-10 09:28] ciocan commented on #59
any progress on this?
dripsy have something similar
https://github.com/nandorojo/dripsy

[2021-02-10 10:09] jsartisan commented on #59
@ciocan We won't following dripsy approach because that is very inefficient because of https://www.npmjs.com/package/@artsy/fresnel

We are thinking to move with https://www.npmjs.com/package/react-native-media-query.

[2021-02-11 09:51] JessedeJonge opened #76 "[Bug] Unmet and incorrect peer dependencys"
[code]

[2021-02-12 19:11] iamhrayr opened #77 "[Enhancement] support "start" and "end" for all props like padding, margin, border, etc..."
## Summary

Sometimes we use `reversed` flex-direction, so it's better to support props like `padding-start`, `border-end`, and similar props to respect reversed flex direction.

[2021-02-14 23:31] erickriva commented on #77
Hello @iamhrayr! You have a good point.

Do you think props like **ps**/**pe** (padding-start/padding-end) should be added to work together, or should replace **pl**/**pr** (padding-left/padding-right)?

[2021-02-15 07:26] iamhrayr commented on #77
@erickriva thanks for the quick response.
I think it's better to support both (`pl/pr` and `ps/pe`) to not break the existing codes.

[2021-02-20 15:46] erickriva commented on #75
Hello @JessedeJonge!
The implementation is almost ready. It will be available on next version.
I can't confirm right now when it will be launched, but probably next week.

[2021-02-20 15:47] erickriva commented on #77
Hello @iamhrayr!
We're working on it and will be available on next version.
I can't confirm right now when it will be launched, but probably next week.

[2021-02-20 15:49] iamhrayr commented on #77
@erickriva great, thanks!

[2021-02-20 19:17] JessedeJonge commented on #75
@erickriva Just looked at the feature branch! Looks good. Looking forward to using it. Thanks.

[2021-02-20 22:26] gax97 opened #78 "Portal component"
The Portal component seems super useful. @jsartisan WDYT about extracting it into its own package?

[2021-02-21 06:42] jsartisan commented on #78
@gax97 There are already few packages for react-native that do the same.

[2021-02-21 10:48] #70 closed

[2021-02-21 12:01] #75 closed

[2021-02-21 12:02] #78 closed

[2021-03-02 04:06] jsartisan commented on #77
This is done in 1.0.62 :)

[2021-03-02 04:06] #77 closed

[2021-03-03 06:29] tomptprst opened #82 "[Feature] Dark mode"
## Summary

Be able to change ThemeProvider setup to dark mode, globally

## Motivation

Modern, lots of users tend to expect it since many pages and apps already implemented it.

## Additional Context

Be able to detect the user's mobile / web settings and change it automatically before the app loads.
- this is just a minor feature since the developer can do the detection itself and change it man

[2021-03-03 06:33] tomptprst opened #83 "[Docs] Custom fontFamily?"
## Documentation Link

https://magnus-ui.com/docs/customization/

## Describe the problem

Could you provide an object of all theme customization settings? How the developer can change the default font your UI is using?

## Describe the improvement

Add example of how to change default fontFamily settings.

[2021-03-04 11:31] hixus opened #84 "Npm versioning seems to be messed up [Bug]"
## Description

Latest npm package seems to be 1.0.62 which seems to match with repos 1.0.60 tag (also latest release according to repository). This causes confusion about what changes are in which packages.

[2021-03-04 15:40] jsartisan commented on #84
@hixus Hey really for this confusion. I'll using some tools to streamline the release process with proper changelog. Tried https://intuit.github.io/auto/docs. Checking out a few more. Do you know any tools for such purposes?

PS: added the release on the repo.

[2021-03-04 15:40] #84 closed

[2021-03-04 18:36] bebraw commented on #84
@jsartisan https://www.npmjs.com/package/@changesets/cli is worth a look as it's designed for the purpose. What you do is to write a changeset for each change you make to the source and then the tool will compile the changesets to a release on publish.

[2021-03-09 16:00] madhenry opened #85 "Badge content on top of avatars / images"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-magnus@1.0.62` for the project I'm working on.

With this change I am able to use the (unused?) *count* prop to set the avatar badge contents when the avatar is a child of Badge. Was it meant for exactly this usecase?

Here is the diff that solved my

[2021-03-10 05:15] jsartisan commented on #85
Hey nice patch. Possible to submit a PR for the same?

[2021-03-28 21:35] wadewadewadewadewadewade opened #88 "[Docs] The Questions and Help link in Issues links to incorrect Discord account"
## Documentation Link

https://github.com/jsartisan/react-native-magnus/issues

## Describe the problem

If you go to create a "New Issue" here in GitHub, you get taken to https://github.com/jsartisan/react-native-magnus/issues/new/choose. If you click on "Open" next to "Questions and Help" you get taken to a Discord account. One of the members of that Discord account says they doesn't have any re

[2021-03-28 21:40] wadewadewadewadewadewade opened #89 "[Docs] Note in docs if Magnus requires Expo?"
## Documentation Link

https://magnus-ui.com/docs/
https://magnus-ui.com/docs/button/

## Describe the problem

In trying to use Magnus UI for the first time in a React Native app that does not include Expo, Input, Div, Text, etc. all seem to work without error. The problem I have is with `Button`.

Button complains that the children are undefined despite trying both `<Button>some text</Button>` a

[2021-03-28 22:34] wadewadewadewadewadewade commented on #89
I figured out what the problem was: `Pressable` was only introduced into React in 0.63, and I was using 0.62.

Upgrading the version of React I was using to 0.64 solved my issue (I assume 0.63 would have also solved my issue)

[2021-03-29 04:42] jsartisan commented on #89
@wadewadewadewadewadewade This info is present on the button page of docs - https://magnus-ui.com/docs/button/

_Button won’t work with Expo versions < 38. This is because we moved to Pressable component and Pressable is not available in Expo in version < 38. So we recommend using magnus version < 1.0.40 for expo versions < 38._

[2021-03-29 04:43] jsartisan commented on #88
That's embarrassing. Sorry for that. Fixed it already.

[2021-03-29 18:25] #88 closed

[2021-03-29 18:25] #89 closed

[2021-03-30 18:32] redbar0n commented on #59
How will you handle potentially duplicated side-effects then?

https://artsy.github.io/blog/2019/05/24/server-rendering-responsively/#Rely.solely.on.CSS

[2021-03-31 12:48] choipd opened #90 "[Feature] adjustable pointer in Tooltip"
## Summary

Sometimes I need to customize the location of the pointer in the Tooltip component. It would be awesome!

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?

For a better UI design, we need this custom style.

## Additional Context
![Screen Shot 2021-03-31 at 9 45 24 PM](https://user-images.githubusercontent.com/344131/113146261-698d7900-9

[2021-03-31 13:03] choipd opened #91 "[Feature] Date type in Input"
## Summary

If we could handle the date picker in Magnus, it would be awesome!

## Motivation

Why should this be worked on? What problems or use cases does it solve or
improve?

Adding date pickers in iOS and Android is terrible for me. Can we have an input form that has type='date' or type='datetime'?

## Additional Context

Any other context or screenshots or link that you
pertain to the featur

[2021-04-17 19:02] dhruvsaxena1998 commented on #83
Is there any way to set fontFamily via theme customization?

[2021-04-17 19:26] dhruvsaxena1998 commented on #83
Ok after a while found out the default theme options, https://github.com/jsartisan/react-native-magnus/blob/master/src/style/defaultTheme.ts

also we can give default font-family like this in same `ThemeProvider` option, working and tested. Though it's not given in defaultStyles.

[code]

[2021-04-26 11:10] dhruvsaxena1998 opened #92 "[Feature] FastImage component"
## Summary

Can we have a component wrapper around `react-native-fast-image` that supports magnus theming and styling guidelines.

## Motivation

Currently Image component we have with magnus is wrapper around [React native Image component](https://reactnative.dev/docs/image). Which doesn't not support many features `fast-image` offers and is pretty reliable and useful for many case.

[2021-04-26 12:57] jsartisan commented on #92
@dhruvsaxena1998 I am currently working on version 2 of magnus which will include a utility function that can convert any component to magnus component :D

[2021-04-26 12:58] jsartisan commented on #92
the API will mostly likely would be `magnus(MyComponent)`;

[2021-04-26 12:59] dhruvsaxena1998 commented on #92
Well that will resolve most of the issues like this, thanks for clarifying :)

[2021-04-30 14:43] jonjrodriguez opened #93 "[Bug] Selecting Option from searchable Select requires two taps"
## Description

When you are searching in a `Select` input, when you go to select an `Option` the keyboard is dismissed. Then it requires another tap to select the `Option`.

### Steps to reproduce the behaviour:

1. Render a Select that has searchable options
2. Search in the input field
3. Try to select one of the displayed options

### Important Details

- Version: v1.0.62
- OS: macOS Big Sur
-

[2021-04-30 14:45] jonjrodriguez opened #94 "[Bug] renderNoResultsView is not rendered in Select component"
## Description

The default component or custom component for `renderNoResultsView` in the `Select` component is not displayed when the search returns no data.

### Steps to reproduce the behaviour:

1. Render a Select that has searchable options
2. Search in the input field so no results are found
3. The default component or custom component for `renderNoResultsView` is not displayed

### Importa

[2021-05-12 06:32] jonasgroendahl opened #101 "Tooltip positioning [Bug]"
## Description

Placed an item to the right side of the screen and then added a tooltip to it

### Steps to reproduce the behaviour:

[code]

<img width="396" alt="Screen Shot 2021-05-12 at 8 28 57 AM" src="https://user-images.githubusercontent.com/23399953/117928786-54414b00-b2fc-11eb-9249-4799ee3ce933.png">

### Important Details

- Version:   "react-native-magnus": "^1.0.62",
- OS: MacOS Big su

[2021-05-27 16:30] juanlatorre commented on #101
I have the same problem, can't find any workaround :(

![image](https://user-images.githubusercontent.com/4494526/119863194-4fc58680-bee7-11eb-9258-31a8dd3fb0c5.png)

### Important Details
Version: "^1.0.62"
OS: MacOS Big Sur
Browser: Edge

[2021-05-28 17:30] redbar0n commented on #59
CSS media queries (instead of JS-based screen measurements) might not be the way to go, at least not with React Native Web (RNW). Since:

* RNW have dropped support for the `className` prop. See: https://github.com/necolas/react-native-web/issues/1318#issuecomment-661963508

* Necolas, the creator of RNW is very negative towards CSS media queries:

https://github.com/necolas/react-native-web/issue

[2021-05-29 10:47] jsartisan commented on #59
@redbar0n I tried many approaches to make this work. But it seems react-native-web and react-native are not yet ready for responsive props. So I am thinking to drop the responsiveness feature for now and wait for official support from styled-components or emotion.

Btw we will be using styled-components for version 2 :)

[2021-05-29 10:48] jsartisan commented on #59
To allow responsiveness, we can export some utility to functions that will serve the purpose.

[2021-05-30 10:49] redbar0n commented on #59
what was your experience with react-native-media-query?

It claims to enable responsiveness even with SSR..:

Even though RNW dropped support for the className prop, it supports the dataSet prop, which react-native-media-query seems to use.

[2021-06-06 17:11] jsartisan commented on #101
:/ Let me check this asap.

[2021-06-06 17:41] redbar0n commented on #59
It seems that using `styled-components`, as a CSS-in-JS solution, together with **React Native Web + responsivity**, is very problematic.

- `styled-components` [outputs](https://styled-components.com/docs/basics#styling-any-component) all [styles](https://styled-components.com/docs/advanced#existing-css) to the `className` prop. But RNW has deprecated all external uses of `className` prop (since

[2021-06-09 11:37] redbar0n commented on #59
I've done some more research into this. FWIW, please see: https://github.com/nandorojo/dripsy/issues/100#issuecomment-857620297

[2021-06-23 15:43] slamser56 opened #111 "[Enhancement]"
## Summary

All component hasn't tests, but component `Div` has test. It would be better if we add test for all components.

## Motivation

Why should this be worked on? What problems or use cases does it solve or improve?

You'll want to validate that each unit of your React Native code performs as expected, and you’ll want to test each unit’s impact on the behaviour of your system.

## Additiona

[2021-06-25 04:44] jsartisan commented on #111
@slamser56 Thanks for raising the issue :) I'll make sure to add tests cases for all widgets in version 2 of magnus. :D

[2021-06-25 05:45] slamser56 commented on #111
@jsartisan Can I develop version 2 with you?

[2021-07-27 16:02] iamdonprince opened #113 "[Bug] after installing magnus-ui in expo app getting error "No Space between hexadecimal literal and identifier"
## Description

[What happened]

### Steps to reproduce the behaviour:

Add steps to reproduce this behaviour, include console / network logs & screenshots

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrome, safari]

[2021-07-31 14:30] ayrtonlacerda commented on #113
Same issue

[2021-08-02 07:42] #49 closed

[2021-08-15 03:21] radelcom commented on #83
@dhruvsaxena1998 does the custom work for you? I tried to load a custom font Google Font `Inter` but does not seem to work.

[2021-08-18 06:12] arunim2405 opened #116 "[Bug] [SyntaxError: No identifiers allowed directly after numeric literal]"
## Description

[What happened]
[SyntaxError: No identifiers allowed directly after numeric literal]
### Steps to reproduce the behaviour:
User CRNA to create a default app
import anything from react-native-magnus
Add steps to reproduce this behaviour, include console / network logs & screenshots

### Important Details

- Version: [Cloud / Self-Hosted vx.x]
- OS: [e.g.MacOSX]
- Browser [e.g. chrom

[2021-08-18 15:49] arunim2405 commented on #116
Update, this is a bug when using Expo, worked fine when I used community cli

[2021-08-25 09:21] Gregoire-Bearstudio opened #118 "[Bug] Pressable Area of Input Component"
## Description

I wanted to create an Input component with a specif appearance, but the pressable area of the input is smaller than expected. I can't press the button, but if I press the textArea, the it works (more details bellow)

### Steps to reproduce the behaviour:

The first screenshot here is supposed to be the Input usable (we can see a bit of padding inside it)

![Screenshot_20210825-1001

[2021-08-29 16:40] FabienEssid opened #120 "[Docs] Reference issue on Overlay component"
## Documentation Link

https://magnus-ui.com/docs/overlay/

## Describe the problem

I was trying to use the `<Overlay />` component when I faced an issue to use its props. The docs says that we can use all the `<Modal />` props from `react-native-modal` package. But, I searched in the `react-native-magnus` source code and I saw that the `<Overlay />` component was using the `<Modal />` component

[2021-09-22 09:54] omar-bear opened #126 "Fix Select not changing when i change value manually without the onSelect"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-magnus@1.0.62` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-10-16 13:42] MarcosSarges opened #127 "[Bug] Open collapse only IOS - Bug onLayout"
## Description

**[Only IOS]**

The onLayout function is not updating the height value while the element is being built.

This bug only occurs on IOS (I don't have iPhone to check the error on the real device)

## Reconstruct the error:
Just run the project in the IOS simulator with the Collapse structure that is in the documentation.

[Collapse doc](https://magnus-ui.com/docs/collapse)

![ERRO](h

[2021-11-02 12:04] iamdonprince commented on #113
I changed the version of the color package to `color@3.2.1`
and it worked

[2021-11-02 12:04] #113 closed

[2021-11-11 10:53] marcjcs commented on #116
I had to downgrade the package ``colors`` from ``4.0.1`` to ``3.2.1`` in order to make it work.

[2021-12-04 11:14] pafry7 opened #131 "[Feature] Add aspectRatio to style props"
## Summary

Add `aspectRatio` property to component's style props. [docs](https://reactnative.dev/docs/layout-props#aspectratio)

## Motivation

Currently, `react-native-magnus` does not support adding `aspectRatio` prop to its components. We have to use `        style={{ aspectRatio: 2 }}`.

## Additional Context

We would have:
[code]

[2021-12-26 23:07] ayrtonlacerda commented on #83
Don't Work in iOS

version 1.0.62
![Screen Shot 2021-12-26 at 20 06 42](https://user-images.githubusercontent.com/38504590/147422092-c48f57cb-f07f-4b4d-b6b1-89b56268d0e7.png)
2

[2021-12-26 23:07] ayrtonlacerda commented on #67
Don't Work in iOS 14 - iphone 11 Pro simulator

version 1.0.62

![Screen Shot 2021-12-26 at 20 06 42](https://user-images.githubusercontent.com/38504590/147422092-c48f57cb-f07f-4b4d-b6b1-89b56268d0e7.png)
2

[2022-01-25 20:10] aleksailosey commented on #116
@marcjcs That worked for me, but I think you mean the `color` instead of `colors`, right?

[2022-02-10 19:38] ztcollazo commented on #116
Hey, I have this same problem, so I've checked out some similar issues and came across [other](https://github.com/facebook/metro/issues/645) [issues](https://github.com/Qix-/color/issues/204). One of them recommended adding `@babel/plugin-proposal-numeric-separator` to your babel/metro config. While this may be a temporary fix, some other libraries might be able to take the place of `color`, such

[2022-09-09 10:37] glairnarra31 opened #163 "How do we add support for react 18 typescript? [Feature]"
## Summary
React 18 removes children by default on its prop typing (React.FunctionComponent).

## Motivation
<img width="624" alt="Screen Shot 2022-09-09 at 6 32 38 PM" src="https://user-images.githubusercontent.com/26506176/189331022-9b11700f-2ceb-4a28-b6de-f987d0941e94.png">

Why should this be worked on? What problems or use cases does it solve or
improve? for typescript typings

## Additional

[2022-09-22 11:48] #163 closed

[2022-10-09 16:41] nameer94 opened #165 "Button does not show ripple in android"
## Description

There is no ripple in Button component on android even though in docs it should be enabled by default, I also tried setting `ripple` prop to `true` but it does not work.

### Steps to reproduce the behaviour:
a simple Button:
`<Button block={true}>Login</Button>`

### Important Details

- Version: "react-native-magnus": "^1.0.63"
- OS: MacOS - any Android version

[2022-11-04 03:12] GaiaYang opened #168 "[Bug] setTheme function rerender"
## Description

use setTheme function change will cause useEffect loop

### Steps to reproduce the behaviour:

use setTheme function in useEffect deps array

    const colorScheme = useColorScheme();
    const {theme, setTheme} = useContext(ThemeContext);
    useEffect(() => {
     setTheme({
       name: colorScheme,
       colors: themeColors[colorScheme],
       components: themeComponents,